/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
html {
  font-size: 62.5%;
}

.navbar {
  width: 100%;
  background-color: #24292E; /* GitHub-like dark gray */
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 0 15px #24292E;
  border: 2px solid transparent;
  transition: 0.3s;
}

.navbar a:hover {
  border-color: #00bfff;
  box-shadow: 0 0 20px #00bfff, 0 0 30px #00bfff;
}

header{
  background: url("background.png") no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header-tag{
  display: flex;
  justify-content:left;
}

.header-text{
  color: white;
  padding: 3%;
  padding-left: 5%;
  font-size: 1.5em;
  width: 70%;
}

.header-text h1{
  color: red;
}

.header-img{
  padding: 30px;
}

body {
  height: 100%;
  font-size: 1.9rem;
  color: #fff;
  background-image: url(https://64.media.tumblr.com/7f87779c30139e1c1de6dce95ad7693b/tumblr_ocwdgfVpcX1s3zokdo2_1280.jpg);
  background-size: cover;
  display: grid;
  place-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}

.timer-box{
  display: flex;
}

.class-icon{
  margin-top: 10%;
  padding: 5%;
  background-color: #1c1f26;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
  transition: 0.3s;
}

.class-icon:hover{
  border-color: #00bfff;
  box-shadow: 0 0 20px #00bfff, 0 0 30px #00bfff;
}

.clock{
  margin-left: 7%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  background-color: #1c1f26;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
  transition: 0.3s;
}

.clock:hover{
  border-color: #00bfff;
  box-shadow: 0 0 20px #00bfff, 0 0 30px #00bfff;
}

.time-icon{
  margin-top: 10%;
  font-size: 3em;
  font-weight: bolder;
}

.time{
  font-size: 1.5em;
  font-weight: bold;
}

.container {
  max-width: 90rem;
  padding: 1.5rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1.5rem;
}
.card {
  background: #262525;
  color: #e0e1e2;
  padding: 1.5rem;
  overflow: hidden;
  border-radius: 0.8rem;
}

.time {
  margin-right: 80%;
  color: rgb(255, 68, 249);
  box-shadow: 1 8rem 12rem rgba(0, 0, 0, 0.4), 0 12px 13px rgba(0, 0, 0, 0.16);
}

.card-title-large {
  font-size: 8rem;
  letter-spacing: 0.5rem;
  color: #1d1d1d;
  user-select: none;
  transform: translateX(7rem);
  transition: transform 3s;
}
.card-title-small {
  margin-bottom: 1rem;
}
.card-description {
  font-size: 1.4rem;
  line-height: 1.5;
}
.card-cta {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-left: auto;
}
.card:hover .card-cta {
  background-color: #262525;
}
.card:hover .card-title-large {
  transform: translateX(-115%);
  color: #262525;
}
.card.HackerRank:hover {
  background-color: #19f83a;
}
.card.HackerEarth:hover {
  background-color: #4267b2;
}
.card.Codechef:hover {
  background-color: #00d0ff;
}
.card.Codeforces:hover {
  background-color: gold;
}

.card.Stackoverflow:hover {
  background-color: rgb(20, 170, 145);
}

.card.gfg:hover {
  background-color: #0ba422eb;
}

.card.Leetcode:hover {
  background-color: rgb(186, 186, 33);
}

.card.GDP:hover {
  background-color: #0e8ded;
}

.card.ApnaCollege:hover {
  background-color: red;
}

.card.Github:hover {
  background-color: #89bef3;
}

.card.Linkedin:hover {
  background-color: rgb(0, 0, 255);
}

.card.Codehelp:hover {
  background-color: violet;
}

.card.CodingNinjas:hover {
  background-color: rgba(250, 118, 31, 0.9);
}

.card.cwh:hover {
  background-color: rgb(37, 194, 178);
}

.card.TakeUForward:hover {
  background-color: red;
}

.card.Crio:hover {
  background-color: #1dc059;
}

.card.AtCoder:hover {
  background-color: #0e8ded;
}

footer {
  padding: 5%;
  background-color: black;
  width: 100%;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.left {
  margin-left: 10%;
  padding: 20px;
  width: 500px;
}

.right {
  margin-top: 30px;
  display: flex;
}

.contactcard {
  margin: 10px;
  text-align: center;
  font-size: 3em;
  width: 100px;
  height: 110px;
  padding: 20px;
  background-color: #1c1f26;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
  transition: 0.3s;
}

.contactcard:hover {
  border-color: #00bfff;
  box-shadow: 0 0 20px #00bfff, 0 0 30px #00bfff;
}

.underlining{
	font-size: 1em;
	padding-top: 2%;
	text-align: center;
}
.underlining p{
  padding: 2%;
}

.contact_us{
	font-size: 2.5em;
	font-weight: 900;
	padding: 10px;
}

.contact_desc{
	margin-left: 30px;
}