*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url('pic10.jpeg'); */
    background-image: url(https://64.media.tumblr.com/7f87779c30139e1c1de6dce95ad7693b/tumblr_ocwdgfVpcX1s3zokdo2_1280.jpg);
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top{
    display: flex;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.Entire{
    width: 420px;
    height: 475px;
    /* margin-top: 20px; */
    color: white;
    background: transparent;
    border-radius: 30px;
    border: 2px solid gainsboro;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black;
    padding: 60px 70px;
}

.Entire h3{
    text-align: center;
    font-size: 2em;
}

form{
    margin-top: 10px;
}

.Entire .Portion_content{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.Portion_content input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border:2px solid white;
    border-radius: 30px;
    font-size: 15px;
    padding: 20px 30px 20px 20px;
    color: white;
}

.Portion_content input::placeholder{
    color: white;
}

.Portion_content ion-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.Entire .Button{
    width: 100%;
    height: 50px;
    background: white;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    font-size: 20px;
    font-weight: 500;
    color: darkblue;
}

.Entire .Button:hover{
    background: aqua;
    cursor: pointer;

}

.Entire .register{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.register_url{
    text-decoration: none;
    color: aliceblue;
}

.Entire .register_url:hover{
    text-decoration: underline;
}